@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.bg {
    background: linear-gradient(45deg, #cc00ff, #001fff);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
}

.bg h1 {
    font-size: 2rem;
    margin-top: 15rem;
    text-align: center;
}

.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contact {
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    padding: 2rem;
    margin: 2rem;
    border-radius: 50%;
    transition: 0.2s;
}

.contact:hover {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: 0.2s;
}

// Navbar
.nav {
    position: relative;
    margin-bottom: 5rem;
}


.nav-sub {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    margin-left: 90%;
    top: 0;
    right: 0;
    padding: 0 5rem;
    width: 100%;
    background: #fff;
    color: black;
    box-shadow: 0 0 0.5rem #00000042;
    z-index: 200;
}

.main {
    background: none;
    box-shadow: none;
}

.main .item {

}

.nav-menu-container {
    display: flex;
}

.responsive-btn {
    display: none;
}

.item:link,
.item:visited {
    padding: 1rem;
    color: black;
    text-decoration: none;
    transition: 0.2s;
    border-bottom: 5px solid transparent;
}

.item:hover,
.item:active {
    border-bottom: 5px solid #00f;
    color: #00f;
    transition: 0.2s
}

.main .item:link,
.main .item:visited {
    color: #fff;
    transition: 0.2s;
}

.main .item:hover,
.main .item:active {
    border-bottom: 5px solid #fff;
}

.main .responsive-btn {
    color: #fff
}

// Projects
.projects-container {
    width: 80%;
    margin: auto;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-container h1 {
    text-align: center;
    font-size: 2rem;
}

.project-link {
    position: relative;
    display: block;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 0.5rem #64646461;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    color: white;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
}

.project-image {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.project-image img {
    width: 100%;
    height: 100%;
}

.project-link:hover {
    background: rgba(0, 31, 255, 72%);
    transition: 0.2s;
}

.project-contents {
    margin: 2rem 0;
    display: none;
}

.project-title {
    margin: 10px;
}

.project-category {
    margin: 10px;
}

.project-link:hover > .project-contents {
    display: inline-block;
    color: white;
    transition: 0.2s;
}

// About Me
.about {
    width: 70%;
    margin: auto;
}

.about h1 {
    font-size: 2rem;
    text-align: center;
}

.about p {
    text-align: center;
    margin: 3rem 0;
}

.about ul {
    padding: 0;
}


.about li {
    list-style-type: none;
}
// Responsive
@media only screen and (max-width: 800px) {
    .nav-sub {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    
    .nav-menu-container {
        display: none;
        flex-direction: column;
        justify-content: center;
    }

    .responsive-btn {
        display: block;
        background: transparent;
        border: none;
        padding: 1rem 3rem;
        text-align: right;
        outline: none;
    }

    .item {
        text-align: center;
        border-bottom: none !important;
    }

    .main .item {
        background: #fff;
        color: #000 !important;
    }

    .bg h1 {
        font-size: 1.5rem;
        margin-top: 17rem;
    }

    .contact {
        padding: 1.5rem;
        margin: 0.5rem;
    }

    .projects {
        flex-direction: column;
    }

    .project-link {
        width: 20rem;
        margin: 1rem auto;
    }
}

@media only screen and (max-width: 500px) {
    .project-link {
        width: 11rem;
        height: 10rem;
    }
}